.catalog {
  display: flex;
  flex-direction: row;
  &__filter-nav {
    flex: 1 1 auto;
    min-width: rem(300);
  }
  &__content {
    flex: 3 1 auto;
  }
  &__filter-category {
    position: relative;
    padding: 12px 0;
    // height: rem(48);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px $font-color solid;
    border-bottom: 1px $font-color solid;
    transition: 0.5s;
    margin-bottom: -1px;

    label {
      cursor: pointer;
    }

    &:hover {
      background-color: #eae6de;
    }
    p {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 300;
      font-size: rem(14);
      line-height: rem(18);
      text-align: center;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: $font-color;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 0.5s;
    }
  }
}
.checked {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #f0ded0;
  pointer-events: none;
  transition: 0.5s;
}
.category-radio,
.category-checkbox {
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:checked ~ .checked {
    opacity: 1;
  }
  &:checked ~ p {
    font-size: rem(15);
    transition: 0.5s;
  }
}
.category-checkbox ~ p {
  &::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 20px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid $font-color;
    border-left: 1px solid $font-color;
    transition: 0.5s;
  }
}
.category-checkbox:checked ~ p::after {
  top: 15px;
  transform: rotate(225deg);
}
.sizes {
  position: relative;
  display: flex;
}
