.header {
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    width: calc(100% - 48px);
    z-index: 10;

    a {
        display: block;

    }

    &__nav ul {
        display: flex;
        gap: rem(25);

        li {
            display: block;

        }
    }

    &__links {
        display: flex;
        gap: rem(25);

        .lang {
            display: flex;
            gap: rem(10);
        }
    }

    &__search {
        display: none;
    }
}