@media (max-width: rem(1024)) {
    .individual-order {
        &__content {
            label {
                flex: 1 1 50%;
            }
        }
    }

    .header {
        &__lang {
            flex-direction: column;
            gap: 0;
        }

        &__links {}
    }
}

@media (max-width: rem(768)) {

    .relevant {
        flex-wrap: wrap;

        .relevant__link {
            flex: 1 1 50%;
        }
    }

    .individual-order {
        padding: 0 10px;

        &__title {
            text-align: center;
        }
    }

    .header {
        &__logo {
            margin-left: rem(50);

            img {
                height: 23px;
            }
        }

        .hamburger {
            display: block;
        }

        &__icons {
            display: flex;
            gap: 20px;
            right: 25px;
            align-items: center;

            .search-icon,
            .bascet-icon {}
        }

        &__nav,
        &__links,
        &__lang {
            display: none;
        }
    }

    .main {
        margin-top: -70px;
        padding-top: 70px;
    }

    .scroll-top {
        width: 32px;
        height: 32px;
        bottom: 10px;
    }
}

@media (max-width: rem(426)) {


    html {
        scroll-snap-type: y mandatory;
    }

    .main {

        .slider {
            scroll-snap-align: end;
            scroll-snap-stop: always;

            &__slides .slide {
                width: 100vw;
                height: calc((var(--vh) * 100) - 70px);
                padding-top: 70px;

            }
        }

        .gender-section {
            flex-wrap: wrap;

            .gender {
                width: 100vw;
                scroll-snap-align: end;
                scroll-snap-stop: always;
                height: calc((var(--vh) * 100) - 70px);
            }
        }

        .individual-order {
            flex-wrap: wrap;
            height: calc((var(--vh) * 100) - 70px);
            padding-top: 100px;
            scroll-snap-align: start;
            scroll-snap-stop: always;

            &__logo {
                flex: 1 1 50%;
            }

            &__content {
                label p {
                    text-align: center;
                }
            }

            &__text {
                order: -1;
            }
        }

        .relevant {
            .relevant__link {
                height: calc((var(--vh) * 100) - 70px);
                scroll-snap-align: end;
                scroll-snap-stop: always;
                flex: 1 1 100%;
            }
        }
    }

    .footer {
        scroll-snap-align: end;
        scroll-snap-stop: always;
        margin: 20px 20px 0 20px;

        &__nav {
            ul li {
                flex: 1 1 33%;
            }
        }
    }
}