//TO%
@function prc($pxOne, $pxTwo) {
    $result: ($pxOne/$pxTwo)*100%;
    @return $result;
}

//REM
@function rem($px) {
    $result: ($px/16)+rem;
    @return $result;
}

//EM

@function em($px) {
    $result: ($px/16)+rem;
    @return $result;
}

// адаптивное свойство
$maxWidth: 1920; //максимальный размер экрана
$maxWidthContainer: 1200; //максимальный размер контейнера

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    @if $type==1 {
        //Только если меньше контейнера
        #{$property}: $startSize + px;

        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    }

    @else if $type==2 {
        //Только если больше контейнера
        #{$property}: $startSize + px;

        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    }

    @else {
        //Всегда
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}

//@include adaptiv-value("значение", начальный размер, конечный размер, тип(1-меньше контейнера, 2-больше, 0-всегда))

@import 'uikit';
@import 'header';
@import 'footer';


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    margin-top: 90px;
}

.nav {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: rem(12);
    line-height: rem(21);
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    .nav-link {
        text-decoration: none;
        display: block;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-color: #58595B;
            height: 1px;
            bottom: 3px;
            left: 0;
            width: 0;
            transition: all .3s ease;
        }

        &:hover::before {
            transition: all .3s ease;
            width: 100%;
        }
    }
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        content: '';
        background-color: rgba(66, 41, 23, 0.3);
        pointer-events: none;
    }

    &__slides {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .slide {
            width: 50vw;
            height: 80vh;
            flex: 1 0 auto;
            scroll-snap-align: start;
            scroll-snap-stop: always;
        }

        .slide1 {
            background: url('../img/slider/01.png') no-repeat center center;
            background-size: cover;

        }

        .slide2 {
            background: url('../img/slider/02.png') no-repeat center center;
            background-size: cover;
        }

        .slide3 {
            background: url('../img/slider/03.png') no-repeat center center;
            background-size: cover;
        }

        .slide4 {
            background: url('../img/slider/04.png') no-repeat center center;
            background-size: cover;
        }

        .slide5 {
            background: url('../img/slider/05.png') no-repeat center center;
            background-size: cover;
        }

        .slide6 {
            background: url('../img/slider/06.png') no-repeat center center;
            background-size: cover;
        }
    }

    &__title-div {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        pointer-events: none;
    }

    &__title {
        color: #fff;
    }

    &__subtitle {
        background-color: #fff;
        max-width: rem(368);
        padding: 30px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    &span {
        font-family: 'Gilroy';
        line-height: rem(24);


    }
}




.gender-section {
    display: flex;
    margin-bottom: 95px;

    .gender {
        height: 80vh;
        width: 50vw;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        &:hover {
            &::before {
                transform: scale(1.1);
                transition: all 1s ease;
            }
        }

        a {
            z-index: 2;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        span {
            display: block;
            z-index: 1;
            background: #fff;
            padding: rem(20);
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 300;
            font-size: rem(24);
            line-height: rem(18);
            letter-spacing: 0.3em;
            text-transform: uppercase;
        }

        &.woman {
            background: rgba(244, 216, 212, 1);


            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                pointer-events: none;
                background: url('../img/woman.png') center top no-repeat;
                background-size: cover;
                transition: all 1s ease;

            }
        }

        &.man {
            background: rgba(136, 149, 164, 1);

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                pointer-events: none;
                background: url('../img/man.png') center top no-repeat;
                background-size: cover;
                transition: all 1s ease;
            }
        }


    }

}

.individual-order {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 100px;

    &__title {
        border-bottom: 1px solid #000;
        padding-bottom: 40px;
    }

    &__content {
        display: flex;
        margin-top: 53px;
        gap: 50px;
        flex-wrap: wrap;


        label p {
            margin-bottom: 20px;
        }
    }

    &__text {
        flex: 1 1 30%;
    }

    label {
        flex: 1 1 30%;

        form {
            display: flex;
            flex: 1 1 30%;
            position: relative;

            span {
                position: absolute;
                left: rem(16);
                top: rem(17);
            }

            input {
                background: #EFEDE9;
                border: 1px solid #DFDBD4;
                font-family: 'Roboto Condensed';
                font-style: normal;
                font-weight: 300;
                font-size: rem(16);
                line-height: rem(24);
                letter-spacing: 0.1em;
                color: #1a1a1a;
                padding: rem(16);
                padding-left: rem(50);
                flex: 1 1 70%;
            }

            button {
                background: #F0DED0;
                border: none;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 300;
                font-size: rem(14);
                line-height: rem(18);
                letter-spacing: 0.3em;
                text-transform: uppercase;
                padding: rem(19);
                flex: 1 1 30%;
                transition: .3s all;

                &:hover {
                    background: #E4C5AD;
                    transition: .3s all;
                }

                &:active {
                    background: #D3A785;
                    transition: .3s all;
                }

                &:disabled {
                    background: #D5CFC5;
                    transition: .3s all;
                }
            }
        }
    }
}

.relevant {

    display: flex;
    margin-top: 114px;

    .relevant__link {
        width: 33vw;
        height: 70vh;
        position: relative;
        overflow: hidden;

        &:hover {
            &::before {
                transform: scale(1.1);
                transition: all 1s ease;
            }
        }

        a {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            text-align: center;


            .relevant-name {
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 300;
                font-size: rem(30);
                line-height: rem(60);
                letter-spacing: 0.5em;
                text-transform: uppercase;
                color: #000000;
                position: absolute;
                left: 0;
                top: 20px;
                right: 0;
            }
        }


    }

    .relevant-new {
        background: rgba(226, 227, 156, 1);

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50px;
            bottom: 0;
            right: 0;
            pointer-events: none;
            background: url('../img/new.png') center top no-repeat;
            background-size: cover;
            transition: all 1s ease;
        }
    }

    .relevant-sale {
        background-color: rgba(222, 213, 221, 1);

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50px;
            bottom: 0;
            right: 0;
            pointer-events: none;
            background: url('../img/sale.png') center top no-repeat;
            background-size: cover;
            transition: all 1s ease;
        }
    }

    .relevant-bestseller {
        background-color: rgba(255, 211, 184, 1);

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50px;
            bottom: 0;
            right: 0;
            pointer-events: none;
            background: url('../img/bestseller.png') center top no-repeat;
            background-size: cover;
            transition: all 1s ease;
        }
    }


}