html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  color: #58595B;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #58595B;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

h1 {
  /* Header/H1 */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: calc(
 1.875rem +
 2.125 *
 ((100vw - 20rem) / 100));
  line-height: calc(
 2.29688rem +
 3.07812 *
 ((100vw - 20rem) / 100));
}

h2 {
  /* Header/H2 */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: calc(
 1.125rem +
 1.875 *
 ((100vw - 20rem) / 100));
  line-height: calc(
 1.3125rem +
 2.4375 *
 ((100vw - 20rem) / 100));
}

h3 {
  /* Header/H3 */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h4 {
  /* Header/H4 */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h5 {
  /* Header/H5 */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: calc(
 0.75rem +
 0.375 *
 ((100vw - 20rem) / 100));
  line-height: calc(
 1.125rem +
 0.75 *
 ((100vw - 20rem) / 100));
}

p {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

p.big-text {
  font-size: calc(
 0.6875rem +
 0.375 *
 ((100vw - 20rem) / 100));
  line-height: calc(
 1.125rem +
 0.375 *
 ((100vw - 20rem) / 100));
}

p.sub-text {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.header {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: #fff;
  width: calc(100% - 48px);
  z-index: 10;
}

.header .hamburger {
  display: none;
  position: absolute;
}

.header .hamburger__icon {
  z-index: 999;
  width: 2rem;
  height: 1.4375rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.header .hamburger__icon span {
  display: block;
  height: 0.125rem;
  width: 100%;
  background-color: #58595B;
  border-radius: 0.125rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .hamburger__icon span:not(:last-child) {
  margin-bottom: 0.5625rem;
}

.header .hamburger__icon.active {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .hamburger__icon.active > span:nth-child(1) {
  -webkit-transform: translateY(0.6875rem);
          transform: translateY(0.6875rem);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.header .hamburger__icon.active > span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header .hamburger__icon.active > span:nth-child(3) {
  -webkit-transform: rotate(-90deg) translateX(0.6875rem);
          transform: rotate(-90deg) translateX(0.6875rem);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.header .hamburger__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  pointer-events: none;
  overflow: scroll;
  margin-top: 70px;
}

.header .hamburger__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  font-size: 1.5rem;
}

.header .hamburger__links ul li {
  display: block;
}

.header .hamburger__links.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  pointer-events: all;
}

.header .hamburger__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: calc(
 0.0625rem +
 1.5 *
 ((100vw - 20rem) / 100));
          column-gap: calc(
 0.0625rem +
 1.5 *
 ((100vw - 20rem) / 100));
}

.header__nav ul li {
  display: block;
}

.header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__icons .search-icon {
  cursor: pointer;
}

.header__icons .bascet-icon {
  cursor: pointer;
}

.header__icons .search-span {
  opacity: 1;
  display: block;
  position: absolute;
  width: 10px;
  top: 17px;
  right: 35px;
  height: 1px;
  background-color: #58595b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__icons .search-span.active {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc(
 0.0625rem +
 0.5625 *
 ((100vw - 20rem) / 100));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: calc(
 0.0625rem +
 1.5 *
 ((100vw - 20rem) / 100));
          column-gap: calc(
 0.0625rem +
 1.5 *
 ((100vw - 20rem) / 100));
}

.header__search {
  z-index: 1;
  position: absolute;
  right: 41px;
  top: 4px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  font-size: 0;
  border: 1px solid #58595b;
  padding: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__search.active {
  right: 74px;
  opacity: 1;
  width: 15.625rem;
  font-size: 1rem;
  border-radius: 3px;
  height: 25px;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
}

@media (max-width: 75rem) {
  .header__search.active {
    width: calc(
 7.5rem + 8.125 * ((100vw - 20rem) / 55));
  }
}

.footer {
  padding: 33px 0;
  margin: 22px 22px 0 22px;
  border-top: 1px solid #58595B;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav .footer-nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.footer__nav ul {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 75rem) {
  .footer__nav ul {
    -webkit-column-gap: calc(
 1.25rem + 0.75 * ((100vw - 20rem) / 55));
            column-gap: calc(
 1.25rem + 0.75 * ((100vw - 20rem) / 55));
  }
}

.footer__nav ul li {
  display: block;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.catalog__filter-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 18.75rem;
}

.catalog__content {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
}

.catalog__filter-category {
  position: relative;
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px #58595B solid;
  border-bottom: 1px #58595B solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: -1px;
}

.catalog__filter-category label {
  cursor: pointer;
}

.catalog__filter-category:hover {
  background-color: #eae6de;
}

.catalog__filter-category p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #58595B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.checked {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #f0ded0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category-radio,
.category-checkbox {
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.category-radio:checked ~ .checked,
.category-checkbox:checked ~ .checked {
  opacity: 1;
}

.category-radio:checked ~ p,
.category-checkbox:checked ~ p {
  font-size: 0.9375rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category-checkbox ~ p::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 20px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #58595B;
  border-left: 1px solid #58595B;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category-checkbox:checked ~ p::after {
  top: 15px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.sizes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

.loaded_hiding .page-loader {
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
  opacity: 0;
}

.loaded .page-loader {
  display: none;
}

.page-loader div {
  background: url("/img/anim_logo.gif") center center no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: -96px;
  padding-top: 192px;
}

.nav {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav .nav-link {
  text-decoration: none;
  display: block;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav .nav-link:active {
  color: #d3a785;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav .nav-link:disabled {
  color: #d4cfc5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav .nav-link:disabled::before {
  background-color: #d4cfc5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav .nav-link::before {
  content: '';
  position: absolute;
  background-color: #58595B;
  height: 1px;
  bottom: 3px;
  left: 0;
  right: 0;
  opacity: 0.5;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav .nav-link:hover:active::before {
  background-color: #d3a785;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav .nav-link:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 100vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider__slides .slide {
  width: 50vw;
  min-height: 80vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.slider__slides .slide1 {
  background: no-repeat center center;
  background-image: url("../img/slider/01.webp");
  background-size: cover;
}

.slider__slides .slide2 {
  background: no-repeat center center;
  background-image: url("../img/slider/02.webp");
  background-size: cover;
}

.slider__slides .slide3 {
  background: no-repeat center center;
  background-image: url("../img/slider/03.webp");
  background-size: cover;
}

.slider__slides .slide4 {
  background: no-repeat center center;
  background-image: url("../img/slider/04.webp");
  background-size: cover;
}

.slider__slides .slide5 {
  background: no-repeat center center;
  background-image: url("../img/slider/05.webp");
  background-size: cover;
}

.slider__slides .slide6 {
  background: no-repeat center center;
  background-image: url("../img/slider/06.webp");
  background-size: cover;
}

.slider__dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.0625rem;
  bottom: 6.25rem;
  list-style: none;
}

@media (max-width: 75rem) {
  .slider__dots {
    gap: calc(
 0.625rem + 1.4375 * ((100vw - 20rem) / 55));
  }
}

@media (max-width: 75rem) {
  .slider__dots {
    bottom: calc(
 1.25rem + 5 * ((100vw - 20rem) / 55));
  }
}

.slider__dots .dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  background: none;
  opacity: 0.5;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 75rem) {
  .slider__dots .dot {
    width: calc(
 0.4375rem + 0.5625 * ((100vw - 20rem) / 55));
  }
}

@media (max-width: 75rem) {
  .slider__dots .dot {
    height: calc(
 0.4375rem + 0.5625 * ((100vw - 20rem) / 55));
  }
}

.slider__dots .dot:hover {
  background: rgba(255, 255, 255, 0.5);
}

.slider__dots .dot.active {
  background: #fff;
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.slider__title-div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.slider__title {
  color: #fff;
}

.slider__subtitle {
  background-color: #fff;
  max-width: 23rem;
  max-width: calc(
 15.375rem +
 7.625 *
 ((100vw - 20rem) / 100));
  padding: 30px 0;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  margin: auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 75rem) {
  .slider__subtitle {
    padding-left: calc(
 0.625rem + 1.25 * ((100vw - 20rem) / 55));
  }
}

@media (max-width: 75rem) {
  .slider__subtitle {
    padding-right: calc(
 0.625rem + 1.25 * ((100vw - 20rem) / 55));
  }
}

.slider__subtitle span {
  font-family: 'Gilroy';
  font-size: calc(
 0.875rem +
 0.625 *
 ((100vw - 20rem) / 100));
  line-height: calc(
 1.0625rem +
 0.75 *
 ((100vw - 20rem) / 100));
}

.gender-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 95px;
}

.gender-section .gender {
  min-height: 80vh;
  width: 50vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.gender-section .gender:hover a span {
  background: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.gender-section .gender:hover a span::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.gender-section .gender:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.gender-section .gender a {
  z-index: 2;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gender-section .gender span {
  position: relative;
  display: block;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  padding: 1.25rem;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.125rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 75rem) {
  .gender-section .gender span {
    font-size: calc(
 1.125rem + 0.375 * ((100vw - 20rem) / 55));
  }
}

.gender-section .gender span::before {
  content: '';
  position: absolute;
  left: 0.9375rem;
  right: 0.9375rem;
  bottom: 0.9375rem;
  height: 1px;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #58595B;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.gender-section .gender.woman {
  background: #f4d8d4;
}

.gender-section .gender.woman::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: url("../img/woman.webp") center top no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.gender-section .gender.man {
  background: #8895a4;
}

.gender-section .gender.man::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: url("../img/man.webp") center top no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.individual-order {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 100px;
}

.individual-order__title {
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
}

.individual-order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 53px;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.individual-order__content label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.individual-order__content label form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.individual-order__content label form span {
  position: absolute;
  left: 1rem;
  top: 1.0625rem;
}

.individual-order__content label form .telnumber {
  display: block;
  background: #efede9;
  border: 1px solid #dfdbd4;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #1a1a1a;
  padding: 1rem 0 1rem 3.125rem;
  width: 100%;
}

.individual-order__content label form .telsubmit {
  display: block;
  background: #f0ded0;
  border: none;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.individual-order__content label form .telsubmit:hover {
  background: #e4c5ad;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.individual-order__content label form .telsubmit:active {
  background: #d3a785;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.individual-order__content label form .telsubmit:disabled {
  cursor: auto;
  background: #d5cfc5;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.individual-order__content label p {
  margin-bottom: 20px;
}

.individual-order__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 8%;
          flex: 1 1 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.individual-order__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
}

.relevant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 114px;
}

.relevant .relevant__link {
  width: 33.33vw;
  min-height: 70vh;
  position: relative;
  overflow: hidden;
}

.relevant .relevant__link:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.relevant .relevant__link:hover > a > .relevant-name {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.relevant .relevant__link a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.relevant .relevant__link a .relevant-name {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 1.875rem;
  font-size: 1.875rem;
  line-height: 3.75rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #58595B;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 5px 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 75rem) {
  .relevant .relevant__link a .relevant-name {
    font-size: calc(
 1.125rem + 0.75 * ((100vw - 20rem) / 55));
  }
}

.relevant .relevant-new {
  background: #e2e39c;
}

.relevant .relevant-new::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: url("../img/new.webp") center top no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.relevant .relevant-sale {
  background-color: #ded5dd;
}

.relevant .relevant-sale::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: url("../img/sale.webp") center top no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.relevant .relevant-bestseller {
  background-color: #ffd3b8;
}

.relevant .relevant-bestseller::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: url("../img/bestseller.webp") center top no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.scroll-top {
  position: fixed;
  width: 32px;
  height: 32px;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.scroll-top::before {
  content: '';
  position: fixed;
  width: 16px;
  height: 16px;
  border-top: #58595B 1px solid;
  border-left: #58595B 1px solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}

.scroll-top:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scroll-top.hide {
  bottom: -60px;
}

@media (max-width: 64rem) {
  .individual-order__content label {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .header__lang {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .header__icons .search-span {
    top: 28px;
    right: 35px;
  }
  .header__search {
    right: 41px;
    top: 16px;
  }
  .header__search.active {
    top: 12px;
  }
}

@media (max-width: 48rem) {
  .relevant {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .relevant .relevant__link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .individual-order {
    padding: 0 10px;
  }
  .individual-order__title {
    text-align: center;
  }
  .header__logo {
    margin-left: 3.125rem;
  }
  .header__logo img {
    height: 23px;
  }
  .header .hamburger {
    display: block;
  }
  .header__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__icons .search-span {
    top: 12px;
    right: 35px;
  }
  .header__nav, .header__links, .header__lang {
    display: none;
  }
  .header__search {
    right: 41px;
    top: 0px;
  }
  .header__search.active {
    top: -4px;
  }
  .main {
    margin-top: -70px;
    padding-top: 140px;
  }
  .scroll-top {
    bottom: 10px;
  }
  .scroll-top::before {
    width: 24px;
    height: 24px;
  }
}

@media (orientation: landscape) and (max-width: 48rem) {
  .main .slider__logo {
    display: none;
  }
}

@media (max-width: 26.625rem) {
  .header__logo {
    opacity: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__logo.active {
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__search.active {
    top: -4px;
    width: calc(100vw - 175px);
  }
  .main .slider__slides .slide {
    width: 100vw;
    min-height: calc((var(--vh) * 100) - 70px);
  }
  .main .gender-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .gender-section .gender {
    width: 100vw;
    min-height: calc((var(--vh) * 100) - 70px);
  }
  .main .individual-order {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: calc((var(--vh) * 100) - 70px);
    padding-top: 100px;
  }
  .main .individual-order__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .main .individual-order__content label p {
    text-align: center;
  }
  .main .individual-order__text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .main .relevant .relevant__link {
    min-height: calc((var(--vh) * 100) - 70px);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .footer {
    scroll-snap-align: end;
    scroll-snap-stop: normal;
    margin: 20px 20px 0 20px;
  }
  .footer__nav ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%;
  }
}
/*# sourceMappingURL=style.css.map */
