html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  color: #58595B;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #58595B;
}

h1 {
  /* Header/H1 */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 5.375rem;
}

h2 {
  /* Header/H2 */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 3rem;
  line-height: 3.75rem;
}

h3 {
  /* Header/H3 */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h4 {
  /* Header/H4 */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h5 {
  /* Header/H5 */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

p {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

p.big-text {
  font-size: 1.0625rem;
}

p.sub-text {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.header {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: #fff;
  width: calc(100% - 48px);
  z-index: 10;
}

.header a {
  display: block;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}

.header__nav ul li {
  display: block;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}

.header__links .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.header__search {
  display: none;
}

.footer {
  padding: 33px 0;
  margin: 22px 22px 0 22px;
  border-top: 1px solid #58595B;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav .footer-nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.footer__nav ul {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.footer__nav ul li {
  display: block;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 90px;
}

.nav {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav .nav-link {
  text-decoration: none;
  display: block;
  position: relative;
}

.nav .nav-link::before {
  content: '';
  position: absolute;
  background-color: #58595B;
  height: 1px;
  bottom: 3px;
  left: 0;
  width: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav .nav-link:hover::before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 100%;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.slider::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  background-color: rgba(66, 41, 23, 0.3);
  pointer-events: none;
}

.slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
}

.slider__slides::-webkit-scrollbar {
  display: none;
}

.slider__slides .slide {
  width: 50vw;
  height: 80vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.slider__slides .slide1 {
  background: url("../img/slider/01.png") no-repeat center center;
  background-size: cover;
}

.slider__slides .slide2 {
  background: url("../img/slider/02.png") no-repeat center center;
  background-size: cover;
}

.slider__slides .slide3 {
  background: url("../img/slider/03.png") no-repeat center center;
  background-size: cover;
}

.slider__slides .slide4 {
  background: url("../img/slider/04.png") no-repeat center center;
  background-size: cover;
}

.slider__slides .slide5 {
  background: url("../img/slider/05.png") no-repeat center center;
  background-size: cover;
}

.slider__slides .slide6 {
  background: url("../img/slider/06.png") no-repeat center center;
  background-size: cover;
}

.slider__title-div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  pointer-events: none;
}

.slider__title {
  color: #fff;
}

.slider__subtitle {
  background-color: #fff;
  max-width: 23rem;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sliderspan {
  font-family: 'Gilroy';
  line-height: 1.5rem;
}

.gender-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 95px;
}

.gender-section .gender {
  height: 80vh;
  width: 50vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.gender-section .gender:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.gender-section .gender a {
  z-index: 2;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gender-section .gender span {
  display: block;
  z-index: 1;
  background: #fff;
  padding: 1.25rem;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.125rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.gender-section .gender.woman {
  background: #f4d8d4;
}

.gender-section .gender.woman::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: url("../img/woman.png") center top no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.gender-section .gender.man {
  background: #8895a4;
}

.gender-section .gender.man::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: url("../img/man.png") center top no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.individual-order {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 100px;
}

.individual-order__title {
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
}

.individual-order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 53px;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.individual-order__content label p {
  margin-bottom: 20px;
}

.individual-order__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.individual-order label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.individual-order label form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  position: relative;
}

.individual-order label form span {
  position: absolute;
  left: 1rem;
  top: 1.0625rem;
}

.individual-order label form input {
  background: #EFEDE9;
  border: 1px solid #DFDBD4;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #1a1a1a;
  padding: 1rem;
  padding-left: 3.125rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.individual-order label form button {
  background: #F0DED0;
  border: none;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 1.1875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.individual-order label form button:hover {
  background: #E4C5AD;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.individual-order label form button:active {
  background: #D3A785;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.individual-order label form button:disabled {
  background: #D5CFC5;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.relevant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 114px;
}

.relevant .relevant__link {
  width: 33vw;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.relevant .relevant__link:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.relevant .relevant__link a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.relevant .relevant__link a .relevant-name {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 3.75rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #000000;
  position: absolute;
  left: 0;
  top: 20px;
  right: 0;
}

.relevant .relevant-new {
  background: #e2e39c;
}

.relevant .relevant-new::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: url("../img/new.png") center top no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.relevant .relevant-sale {
  background-color: #ded5dd;
}

.relevant .relevant-sale::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: url("../img/sale.png") center top no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.relevant .relevant-bestseller {
  background-color: #ffd3b8;
}

.relevant .relevant-bestseller::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: url("../img/bestseller.png") center top no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
/*# sourceMappingURL=style.css.map */